trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: First
  jobs: 
  - job: FirstJob
    steps:
     - bash: echo FirstJob
     - bash: echo $(testing)
     - bash: echo $(Build.BuildNumber)
# - stage: Second
#   jobs: 
#   - job: SecondJob
#     steps:
#      - bash: echo SecondJob
# - stage: Third
#   variables: 
#    nodeEnv : developmwnt
#   jobs: 
#   - job: ThirdJob
#     steps:
#      - bash: echo $(nodeEnv)